In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import keras

In [2]:
from keras import Sequential
from keras.layers import Input, Dense, GRU

In [25]:
df=pd.read_csv("../Data/Celeb-df_vit.csv")
df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,439,440,441,442,443,444,445,446,447,Label
0,0,0.319587,0.740929,0.464584,0.725391,-0.012810,-1.149684,-0.038594,-0.327014,-0.154114,...,0.371236,-0.107152,0.009291,0.768575,-0.685553,0.363147,-0.134060,0.298729,0.410601,0
1,1,0.161553,0.282407,0.303938,0.341088,-0.214515,-0.484006,-0.392677,-0.436100,-0.238849,...,0.149390,-0.052575,-0.197187,0.180801,-0.777508,0.225731,0.133878,0.147619,0.236145,0
2,2,0.176226,0.332912,0.183711,0.239652,-0.339653,-0.626031,-0.346819,-0.286595,-0.079800,...,0.212713,0.157118,-0.148664,0.091372,-0.650060,0.241216,0.132933,0.100103,-0.045666,0
3,3,0.117250,0.246266,0.040510,0.296838,-0.354080,-0.398558,-0.260375,-0.149370,-0.117103,...,0.299755,0.162576,-0.082298,0.042257,-0.574919,0.355091,0.163088,-0.007151,-0.346583,0
4,4,0.187924,0.029395,0.205600,0.142896,-0.162614,-0.471617,-0.374545,-0.373469,-0.125815,...,0.222033,0.211545,-0.209460,0.072756,-0.709315,0.301771,0.280353,0.137477,-0.074121,0

In [27]:
df.describe()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,439,440,441,442,443,444,445,446,447,Label
count,30230.000000,30230.000000,30230.000000,30230.000000,30230.000000,30230.000000,30230.000000,30230.000000,30230.000000,30230.000000,...,30230.000000,30230.000000,30230.000000,30230.000000,30230.000000,30230.000000,30230.000000,30230.000000,30230.000000,30230.000000
mean,15114.500000,0.259316,0.457617,0.445848,0.127436,0.080184,-0.240346,-0.268976,-0.348638,0.068808,...,0.106439,0.064627,-0.286260,0.601747,-0.506296,0.262817,0.028609,-0.026920,0.084267,0.497883
std,8726.793655,0.264986,0.324822,0.247092,0.262888,0.245127,0.430113,0.204650,0.258728,0.209300,...,0.166055,0.340704,0.289539,0.292156,0.229136,0.198547,0.233718,0.225405,0.423091,0.500004
min,0.000000,-0.877252,-1.051733,-0.752733,-1.017211,-0.994259,-2.084225,-1.118278,-1.265651,-0.839471,...,-0.814973,-1.191237,-1.498489,-1.042106,-1.281658,-0.736061,-0.970482,-0.929724,-1.268619,0.000000
25%,7557.250000,0.079479,0.238966,0.295908,-0.044882,-0.080356,-0.548626,-0.399674,-0.528674,-0.066946,...,-0.004448,-0.157839,-0.482820,0.432542,-0.654280,0.137684,-0.125336,-0.176880,-0.214761,0.000000
50%,15114.500000,0.271632,0.474799,0.462970,0.119968,0.081465,-0.267080,-0.272411,-0.360597,0.060369,...,0.115495,0.063312,-0.296643,0.605724,-0.520673,0.272744,0.027090,-0.024731,0.044856,0.000000
75%,22671.750000,0.449859,0.684649,0.621247,0.296774,0.236858,0.039955,-0.140543,-0.179838,0.194579,...,0.218954,0.282649,-0.096090,0.785375,-0.377867,0.396353,0.193513,0.123633,0.363984,1.000000
max,30229.000000,1.171945,1.645007,1.165276,1.460021,1.019962,1.498935,0.735892,0.836205,1.245430,...,0.791295,1.647735,0.992804,1.865433,0.713694,0.975717,0.794580,0.877693,1.627519,1.000000

In [28]:
df.isnull().sum()

Unnamed: 0    0
0             0
1             0
2             0
3             0
             ..
444           0
445           0
446           0
447           0
Label         0
Length: 450, dtype: int64

In [30]:
df=df.drop(columns=['Unnamed: 0'])

In [32]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,439,440,441,442,443,444,445,446,447,Label
0,0.319587,0.740929,0.464584,0.725391,-0.012810,-1.149684,-0.038594,-0.327014,-0.154114,0.384575,...,0.371236,-0.107152,0.009291,0.768575,-0.685553,0.363147,-0.134060,0.298729,0.410601,0
1,0.161553,0.282407,0.303938,0.341088,-0.214515,-0.484006,-0.392677,-0.436100,-0.238849,0.040627,...,0.149390,-0.052575,-0.197187,0.180801,-0.777508,0.225731,0.133878,0.147619,0.236145,0
2,0.176226,0.332912,0.183711,0.239652,-0.339653,-0.626031,-0.346819,-0.286595,-0.079800,0.123180,...,0.212713,0.157118,-0.148664,0.091372,-0.650060,0.241216,0.132933,0.100103,-0.045666,0
3,0.117250,0.246266,0.040510,0.296838,-0.354080,-0.398558,-0.260375,-0.149370,-0.117103,0.228677,...,0.299755,0.162576,-0.082298,0.042257,-0.574919,0.355091,0.163088,-0.007151,-0.346583,0
4,0.187924,0.029395,0.205600,0.142896,-0.162614,-0.471617,-0.374545,-0.373469,-0.125815,0.051613,...,0.222033,0.211545,-0.209460,0.072756,-0.709315,0.301771,0.280353,0.137477,-0.074121,0

In [34]:
import sklearn
from sklearn.model_selection import train_test_split

In [45]:
Y=df.Label
X=df.drop(columns=["Label"])

In [46]:
X = np.expand_dims(X.values, axis=1)

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [48]:
model=Sequential()
model.add(Input(shape=(1,448)))
model.add(GRU(units=64, return_sequences=True))
model.add(GRU(units=32))
model.add(Dense(2, activation='sigmoid'))

In [49]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [50]:
model.fit(X_train,y_train,epochs=10)

Epoch 1/10

ValueError: in user code:

    File "d:\AnaConda\envs\Cap\lib\site-packages\keras\engine\training.py", line 1160, in train_function  *
        return step_function(self, iterator)
    File "d:\AnaConda\envs\Cap\lib\site-packages\keras\engine\training.py", line 1146, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "d:\AnaConda\envs\Cap\lib\site-packages\keras\engine\training.py", line 1135, in run_step  **
        outputs = model.train_step(data)
    File "d:\AnaConda\envs\Cap\lib\site-packages\keras\engine\training.py", line 994, in train_step
        loss = self.compute_loss(x, y, y_pred, sample_weight)
    File "d:\AnaConda\envs\Cap\lib\site-packages\keras\engine\training.py", line 1052, in compute_loss
        return self.compiled_loss(
    File "d:\AnaConda\envs\Cap\lib\site-packages\keras\engine\compile_utils.py", line 265, in __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "d:\AnaConda\envs\Cap\lib\site-packages\keras\losses.py", line 152, in __call__
        losses = call_fn(y_true, y_pred)
    File "d:\AnaConda\envs\Cap\lib\site-packages\keras\losses.py", line 272, in call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "d:\AnaConda\envs\Cap\lib\site-packages\keras\losses.py", line 1990, in categorical_crossentropy
        return backend.categorical_crossentropy(
    File "d:\AnaConda\envs\Cap\lib\site-packages\keras\backend.py", line 5529, in categorical_crossentropy
        target.shape.assert_is_compatible_with(output.shape)

    ValueError: Shapes (None, 1) and (None, 2) are incompatible